<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>960 Grid System &mdash; Demo</title>
<link rel="stylesheet" href="reset.css" />
<link rel="stylesheet" href="960-custom.css" />
<link rel="stylesheet" href="layout.css" />
<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="navigation.js"></script>
<script type="text/javascript" src="http://www.webdesignbooth.com/demo/news-ticker/jcarousellite_1.0.1c4.js"></script>


</head>
<body>
	<div class="container_12">
		<div class="grid_12 header header-logo-full">
			<div class="grid_12 menu">
				<ul class="menu-header">
					<li>
						<h2>om typo3</h2>
						<ul class="menu-items">
							<li>kom i gang</li>
							<li>funktioner</li>
							<li>typo3 association</li>
						</ul>
					</li>
					<li>
						<h2>forum</h2>
						<ul class="menu-items">
							<li>moduler</li>
							<li>installation</li>
						</ul>
					</li>
					<li>
						<h2>know how</h2>
						<ul class="menu-items">
							<li>moduler</li>
							<li>skabeloner</li>
							<li>bøger</li>
						</ul>
					</li>
					<li>
						<h2>showcases</h2>
						<ul class="menu-items">
							<li>danske</li>
							<li>internationale</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<div class="grid_12 userline">
			<a href="#">Log ind</a> <img src="user_green.png" /><a href="#">Opret bruger</a>
		</div>
		<div class="clear"></div>
		<div class="grid_12 content">
		<div class="grid_12 entrypoint">
			<div class="grid_4 alpha">
				<div class="grid_2 alpha">
					<img src="entry_users.png" />
				</div>
				<div class="grid_2 omega">
					<h2>Udvikler</h2>
					<p>
						Du er udvikler og har interesse for de tekniske aspekter i TYPO3, udvikling af moduler osv.
					</p>
				</div>
			</div>
			<div class="grid_4 alpha">
				<div class="grid_2 alpha">
					<img src="entry_admin.png" />
				</div>
				<div class="grid_2 omega">
					<h2>Administrator</h2>
					<p>
						Du er beslutningstager i valg af en ny CMS platform eller administrator
					</p>
				</div>
			</div>
			<div class="grid_4 alpha">
				<div class="grid_2 alpha">
					<img src="entry_writer.png" />
				</div>
				<div class="grid_2 omega">
					<h2>Redaktør</h2>
					<p>
						Du er redaktør og ansvarlig for indholdet på jeres TYPO3 hjemmeside
					</p>
				</div>
			</div>
		</div>
			<div class="grid_7 alpha news">
				<div id="news-items">
					<ul>
						<li>
							<div class="news-article">
								<h2>News header</h2>
								<div class="news-meta">
									Indsendt af <a href="#">username</a>, 24/12 2011
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a eleifend enim. Aenean vitae nulla nisi. Aenean imperdiet cursus augue in viverra. Nam iaculis semper quam nec sollicitudin. Quisque molestie porttitor turpis, eu tempus metus elementum accumsan. Cras semper pellentesque tempus. Aenean elementum bibendum libero in fringilla. Duis lorem velit, ornare in tristique vel, gravida in elit. Aenean fringilla ante id dui lacinia eu faucibus nibh imperdiet. Ut sapien leo, viverra id condimentum in, volutpat non urna. Nunc pellentesque tempus auctor.
								</p>
								<div class="news-details">
									<a href="#">Læs mere</a> eller <a href="#comments">kommentér</a>
								</div>
							</div>
						</li>
						<li>
							<div class="news-article">
								<h2>News header</h2>
								<div class="news-meta">
									Indsendt af <a href="#">username</a>, 24/12 2011
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a eleifend enim. Aenean vitae nulla nisi. Aenean imperdiet cursus augue in viverra. Nam iaculis semper quam nec sollicitudin. Quisque molestie porttitor turpis, eu tempus metus elementum accumsan. Cras semper pellentesque tempus. Aenean elementum bibendum libero in fringilla. Duis lorem velit, ornare in tristique vel, gravida in elit. Aenean fringilla ante id dui lacinia eu faucibus nibh imperdiet. Ut sapien leo, viverra id condimentum in, volutpat non urna. Nunc pellentesque tempus auctor.
								</p>
								<div class="news-details">
									<a href="#">Læs mere</a> eller <a href="#comments">kommentér</a>
								</div>
							</div>
						</li>
						<li>
							<div class="news-article">
								<h2>News header</h2>
								<div class="news-meta">
									Indsendt af <a href="#">username</a>, 24/12 2011
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a eleifend enim. Aenean vitae nulla nisi. Aenean imperdiet cursus augue in viverra. Nam iaculis semper quam nec sollicitudin. Quisque molestie porttitor turpis, eu tempus metus elementum accumsan. Cras semper pellentesque tempus. Aenean elementum bibendum libero in fringilla. Duis lorem velit, ornare in tristique vel, gravida in elit. Aenean fringilla ante id dui lacinia eu faucibus nibh imperdiet. Ut sapien leo, viverra id condimentum in, volutpat non urna. Nunc pellentesque tempus auctor.
								</p>
								<div class="news-details">
									<a href="#">Læs mere</a> eller <a href="#comments">kommentér</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="grid_2">
				&nbsp;
				<!--<h2>Sagt om..</h2>-->
			</div>
			<div class="grid_2 omega">
				<h2>Profil</h2>
				<p>
					<input type="text" />
					<input type="text" />
					<input type="submit" />
				</p>
				<p>
					<a href="#"></a>
				</p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="grid_12 footer">
			<div class="grid_4 alpha">
				<h3>Active forum posts</h3>
				<p>
					Date: 1/2 2012: Post subject
				</p>
				<p>
					Date: 1/2 2012: Post subject
				</p>
				<p>
					Date: 1/2 2012: Post subject
				</p>
				<p>
					Date: 1/2 2012: Post subject
				</p>
				<p>
					Date: 1/2 2012: Post subject
				</p>
			</div>
			<div class="grid_4">
				<h3>Article header</h3>
				<p>
					Author: Soren Malling
				</p>
				<p>
					Mauris sed interdum libero. Morbi sed orci ac arcu consectetur pulvinar vitae vitae turpis. Sed bibendum tincidunt erat vel eleifend. Vestibulum porttitor, enim a volutpat tincidunt, metus odio bibendum velit, et fringilla orci purus eget est. Sed ut dignissim nibh. Integer sapien risus, hendrerit vitae pellentesque nec, rhoncus vel lectus. Vestibulum ultrices sollicitudin lectus sit amet ultricies.
				</p>
			</div>
			<div class="grid_4 omega">
				<h3>Twitter stream</h3>
				<p>
					<span class="twitter-name">Twitter name</span>
					Mauris sed interdum libero. Morbi sed orci
				</p>
				<p>
					<span class="twitter-name">Twitter name</span>
					Mauris sed interdum libero. Morbi sed orci
				</p>
				<p>
					<span class="twitter-name">Twitter name</span>
					Mauris sed interdum libero. Morbi sed orci
				</p>
			</div>
		</div>
		<div class="clear"></div>
</div>
<!-- end .container_16 -->
</body>
</html>