<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Forum "{forum.title}"</h1>
	<table style="width:100%" cellpadding="0">
		<thead>
			<th>Ikon</th>
			<th>Overskrift</th>
			<th>Besvarelser</th>
		</thead>
		<f:for each="{forum.topics}" as="topic">
			<tr>
				<td>Ikon...</td>
				<td>
					<f:link.action action="show" controller="Topic" arguments="{topic : topic}">{topic.title}</f:link.action>
					<span style="display:block;color:grey;"><f:format.crop maxCharacters="20">{topic.post.content}</f:format.crop></span>
				</td>
				<td>
					{topic.responses -> f:count()}
				</td>
			</tr>
		</f:for>
	</table>
	
	<!--<h2>Responses</h2>
	<f:for each="{topic.responses}" as="response">
		<p>{response.content}</p>
	</f:for>-->



<f:link.action action="new">New Forum</f:link.action>
</f:section>