body {
	font-family: Georgia;
	font-size: 1em;
	/*background-image: url('headerbackground.gif');
	background-position: top left;
	background-repeat: repeat-x;*/
}

a {
	color: #FF8700;
}

input[type="text"] {
	padding: 5px;
	font-size: 0.8em;
	width: 100%;
}

input[type="submit"] {
	padding: 5px;
	margin: 0;
	font-size: 0.8em;
}

div.userline {
	text-align: right;
	font-family: verdana;
	font-size: 0.8em;
}

div.userline a {
	text-decoration: none;
}

.content h2 {
	color: #35a23d;
}


div.container_12 {
	padding: 0px 10px 10px 10px;
}

input {
	font-size: 1em;
	border: 1px solid #999;
	padding: 5px;
}

p {
	padding-bottom: 15px;
}

img {
	padding: 5px;
	border: 1px solid lightgrey;
}
img.text {
	float: right;
	width: 100px;
	height: 100px;
}

img.twitter {
	padding: 0;
	float: left;
}

span.twitter-name {
	display: block;
	font-weight: bold;
}

h1 {
	
	font-size: 1.7em;
	padding-top: 80px;
	font-weight: lighter;
}

h2 {
	font-size: 1.3em;
	color: #FF8700;
	padding-bottom: 10px;
	font-weight: lighter;
}

hr {
	margin-top: 50px;
	margin-bottom: 25px;
	border-top: 1px solid #999;
	display: none;
}

div.entrypoint img {
	border: 0px;
}

div.content {
	margin-top: 150px;
}

div.content p {
	font-size: 1em;
	line-height: 150%;
}

ul#news-items li {
	width: 100%;
}

div.news-meta {
	color: #999;
	font-size: 0.8em;
}

div.news-details {
	text-align: right;
	font-size: 0.9em;
}

div.userpanel {
	text-align: right;
}

div.infobox h3, div.infobox h2 {
	background-image: url('forum.png');
	background-repeat: no-repeat;
	padding-left: 35px;
}

div.header-logo-mini{
	background-image: url('mini-logo.png');
	background-position: 4 20;
	background-repeat: no-repeat;
}

div.header-logo-full{
	background-image: url('tug-logo.gif');
	background-position: 4 20;
	background-repeat: no-repeat;
}

div.header {
	padding-top: 25px;
	height: 120px;
	position: fixed;
	background-color: #ffffff;
	/*background-image: url('tug-logo.gif');
	background-position: 4 20;
	background-repeat: no-repeat;*/
	z-index: 1000;
	position: fixed;
	-webkit-box-shadow: 0 10px 6px -6px lightgrey;
	-moz-box-shadow: 0 10px 6px -6px lightgrey;
	box-shadow: 0 10px 6px -6px lightgrey;
}

div.header img {
	border: 0;
}

div.header input {
	border: 1px solid #999;
	width: 190px;
	padding: 5px;
	float: right;
}

div.header h1 {
	display: none;
}

div.footer {
	margin-top: 100px;
	font-size: 0.9em;
	color: grey;
	/*background-image: url('gradient.png');*/
}

div.footer h3 {
	color: grey;
}

div.menu {
	height: 120px;
}

div.menu ul {
	float: right;
	font-size: 0.9em;
}

div.menu ul li {
	margin: 0 0.15em .55em;
	text-transform: uppercase;
}

div.menu ul.menu-header a {
	text-decoration: none;
}

div.menu ul.menu-header a:hover {
	text-decoration: underline;
}


div.menu ul.menu-header li  {
	
	color: #000000;
	float: left;
	width: 11em;
	display: block;
	/*border: 0.1em solid #dcdce9;*/
	/*border-bottom: 3px solid #FF8700;*/
	text-decoration: none;
	font-size: 1em;
}

div.menu ul.menu-header li h2 {
	color: #FF8700;
	font-size: 1em;
}

div.menu ul li a:hover {
	/*border-bottom: 3px solid #35a23d;*/
}

ul.menu-items li a {
	text-decoration: none;
	color: #000000;
}
