nav {
	font-family: Share;
	text-transform: uppercase;
	float: right;
}


nav ul {
	padding-top: 45px;
}

nav ul li {
	font-size: 1.2em;
	height: 70px;
	padding: 15px 10px 15px 25px;
	display: inline;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
}
