<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>960 Grid System &mdash; Demo</title>
<link rel="stylesheet" href="reset.css" />
<link rel="stylesheet" href="960-custom.css" />
<link rel="stylesheet" href="layout.css" />
<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="navigation.js"></script>
<script type="text/javascript" src="http://www.webdesignbooth.com/demo/news-ticker/jcarousellite_1.0.1c4.js"></script>


</head>
<body>
	<div class="grid_12">
		<div class="grid_4 alpha">
			<div class="grid_2 alpha">
				<img src="entry_users.png" />
			</div>
			<div class="grid_2 omega">
				<h2>Udvikler</h2>
				<p>
					Du er udvikler og har interesse for de tekniske aspekter i TYPO3, udvikling af moduler osv.
				</p>
			</div>
		</div>
		<div class="grid_4 alpha">
			<div class="grid_2 alpha">
				<img src="entry_admin.png" />
			</div>
			<div class="grid_2 omega">
				<h2>Administrator</h2>
				<p>
					Du er beslutningstager i valg af en ny CMS platform eller administrator
				</p>
			</div>
		</div>
		<div class="grid_4 alpha">
			<div class="grid_2 alpha">
				<img src="entry_writer.png" />
			</div>
			<div class="grid_2 omega">
				<h2>Redaktør</h2>
				<p>
					Du er redaktør og ansvarlig for indholdet på jeres TYPO3 hjemmeside
				</p>
			</div>
		</div>
	</div>
</body>
</html>