<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Topic</h1>

<f:flashMessages />

<table  class="tx_forum" >
	<tr>
		<th><f:translate key="tx_forum_domain_model_topic.title" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{topics}" as="topic">
		<tr>
			<td><f:link.action action="show" arguments="{topic : topic}"> {topic.title}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{topic : topic}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{topic : topic}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Topic</f:link.action>
</f:section>