<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>TYPO3 Danmark</title>
	<link rel="stylesheet" href="../../common/stylesheets/reset.css" />
	<link rel="stylesheet" href="../stylesheets/main.css" />
	<link rel="stylesheet" href="../stylesheets/columns.css" />
	<link rel="stylesheet" href="../stylesheets/navigation.css" />


</head>
<body>
	<div class="wrapper">
		<header>
			<nav>
				<ul>
					<li>Om TYPO3</li>
					<li>Forum</li>
					<li>Know how</li>
					<li>Showcase</li>
				</ul>
			</nav>
		</header>
		<section>
			<h2>TYPO3 er det perfekt valg for alle brugere</h2>
		</section>
		<footer>
			(C) TYPO3 Association  |  Om typo3.dk  |  Kontakt webmaster
		</footer>
	</div>
</body>
</html>